<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>

    <div class="container">
		<div class="row">
			<div>
				<h2>Formulario de creación de productos</h2>
			</div>
		</div><br>
		<div class="container">
			<form action="/products/create" method="POST" enctype="multipart/form-data" id="product-form">
				
				<div>
					<div>
						<h4><label for="name">Nombre del producto:</label></h4>
						<input type="text" name="name" id="name" placeholder="Ej: Luigi Bosca" class="estilo-form">
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.name ? errors.name.msg : '' %>
						</small>
					</div><br>
					<div>
						<h4><label for="price">Precio del producto:</label></h4>
						<input type="text" id="price" name="price" placeholder="Ej: 888" class="estilo-form"> <br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.price ? errors.price.msg : '' %>
						</small>
					</div><br>
					<div>
						<h4><label for="detail">Descripción:</label></h4>
						<textarea name="detail" id="detail" class="estilo-form"></textarea>
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.description ? errors.description.msg : '' %>
						</small>
					</div><br>
					<div>
						<h4><label for="discount">Descuento:</label></h4>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15%" class="estilo-form"> <br>
					</div><br>
					<div>
						<h4><label for="varietal">Varietal:</label></h4>
						<select name="varietal" id="varietal" class="estilo-form">
							<option value="" disabled>Elegí</option>
							<option value="Tinto">Tinto</option>
							<option value="Blanco">Blanco</option>
							<option value="Rosado">Rosado</option>
							<option value="Espumante">Espumante</option>
							<option value="Espirituosas">Espirituosa</option>
							<option value="Combo">Combo</option>
						</select>
					</div><br>
					<div>
						<h4><label for="wine_cellar">Bodega:</label></h4>
						<input type="text" id="wine_cellar" name="wine_cellar" placeholder="Ej: Luigi Bosca" class="estilo-form"> <br>
						<small >
							<%= typeof errors === 'undefined' ? '' : errors.wine_cellar ? errors.wine_cellar.msg : '' %>
						</small><br>
					<div>
						<h4><label for="category_id">Categoria</label></h4>
						<input type="number" id="category_id" name="category_id" class="estilo-form"> <br>

					</div> <br>
					</div>
					<div>
                        <h4><label for="image"	>Foto del Producto</label></h4>
						<input type="file" name="image" id="image">
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.image ? errors.image.msg : '' %>
						</small>
					</div><br>
					
					<div class="col-12">
						<button type="submit" class="register">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

    </div>
    
    <%- include("../partials/footer.ejs")%>
	<script> const section = "create" </script>
	<script src="/js/scriptProducts.js"></script>
</body>
</html>