<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>
	<main>
	    <div class="container">
			<div class="row">
				<div>
					<h2>Estás editando: <%= product.name %></h2>
				</div> <br>
			</div>
			<div class="container">
			<form action="/product-edit-form/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="product-form">
				
				<div>
					<div>
						<h4><label for="name"> Nombre del producto:</label></h4>
						<input type="text" name="name" id="name" value="<%= product.name %>"  class="estilo-form">
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.name ? errors.name.msg : '' %>
						</small>
					</div> <br>

					<div>
						<h4><label for="price" >Precio del producto:</label></h4>
						<input type="number" id="price" name="price" value="<%= product.price %>" class="estilo-form">
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.price ? errors.price.msg : '' %>
						</small>
					</div> <br>

					<div class="col-12">
						<h4><label for="detail" >Detalle del producto:</label></h4>
						<textarea name="detail" placeholder="" id="detail" class="estilo-form"><%= product.detail %></textarea>
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.detail ? errors.detail.msg : '' %>
						</small>
					</div><br>

					<div class="col-12">
						<h4><label for="discount"></label>Descuento:</label></h4>
						<textarea name="discount" placeholder="<%= product.discount %>" id="discount" class="estilo-form"><%= product.discount %></textarea>
					</div>
					
					<div>
						<h4><label for="varietal"
							>Varietal:</label></h4>
						<select name="varietal" id="varietal" class="estilo-form">
							<option id="estilo-form" value="">Elegí</option>
							<option id="estilo-form" value="Tinto" <%= product.varietal == 'Tinto' ? "selected" : "" %>>Tinto</option>
							<option id="estilo-form" value="Blanco" <%= product.varietal == 'Blanco' ? "selected" : "" %>>Blanco</option>
							<option id="estilo-form" value="Rosado" <%= product.varietal == 'Rosado' ? "selected" : "" %>>Rosado</option>
						</select>
					</div><br>

					<div>
						<h4><label for="wine_cellar">Bodega:</label></h4>
						<input type="text" id="wine_cellar" name="wine_cellar" value="<%= product.wine_cellar %>" class="estilo-form">
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.wine_cellar ? errors.wine_cellar.msg : '' %>
						</small>
					</div><br>
					<div>
                        <h4><label for="file">Foto del Producto</label></h4>
						<input type="file" name="image" id="image"> 
						<small class="smallError">

							<%= typeof errors === 'undefined' ? '' : errors.image ? errors.image.msg : '' %>
						</small>
					</div><br>
					
					<div class="col-12">
						<button type="submit" class="register">Guardar cambios</button>
					</div>
				</div>
			</form>
		</div>

    </div>
</main>
    <%- include("../partials/footer.ejs")%>

	<script> const section = "edit";  </script>
	<script src="/js/scriptProducts.js"></script>
</body>
</html>