<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>

    <div class="container">
		<div class="row">
			<div>
				<h2 class="container">Estás editando <%= product.name %></h2>
			</div>
		</div>
		<div class="container clase-create-form">
			<form action="/product-edit-form/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div>

					<div>
						<p><label for="name" class="estilo-form">Nombre del producto:</label></p>
						<input type="text" id="name" name="name" value="<%= product.name %>"  class="estilo-form"> <br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.name ? errors.name.msg : '' %>
						</small>
		
					</div>
					<div>
						<p><label for="price" class="estilo-form">Precio del producto:</label></p>
						<input type="text" id="price" name="price" value="<%= product.price %>" class="estilo-form"> <br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.price ? errors.price.msg : '' %>
						</small>
					</div>
					<div class="col-12">
						<p><label for="detail" class="estilo-form">Detalle del producto:</label></p>
						<textarea name="detail" placeholder="" id="detail" class="estilo-form"><%= product.detail %></textarea> <br>
						<br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.detail ? errors.detail.msg : '' %>
						</small>
					</div>
					<div class="col-12">
						<p><label for="discount" class="estilo-form">Descuento:</label></p>
						<textarea name="discount" placeholder="<%= product.discount %>" id="discount" class="estilo-form"><%= product.discount %></textarea>
					</div>
					
					<div>
						<p><label for="varietal" class="estilo-form">Varietal:</label></p>
						<select name="varietal" id="varietal" class="estilo-form">
							<option id="estilo-form" value="">Elegí</option>
							<option id="estilo-form" value="Tinto" <%= product.varietal == 'Tinto' ? "selected" : "" %>>Tinto</option>
							<option id="estilo-form" value="Blanco" <%= product.varietal == 'Blanco' ? "selected" : "" %>>Blanco</option>
							<option id="estilo-form" value="Rosado" <%= product.varietal == 'Rosado' ? "selected" : "" %>>Rosado</option>
						</select>
					</div>
					<div>
						<p><label for="wine_cellar" class="estilo-form">Bodega:</label></p>
						<input type="text" id="wine_cellar" name="wine_cellar" value="<%= product.wine_cellar %>" class="estilo-form"> <br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.wine_cellar ? errors.wine_cellar.msg : '' %>
						</small>
					</div>
					<div>
                        <p><label for="file" class="estilo-form">Foto del Producto</label></p>
						<input type="file" name="image" id="image"> <br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.image ? errors.image.msg : '' %>
						</small>
					</div>
					
					<div class="col-12">
						<button type="submit" class="register">Guardar cambios</button>
					</div>
				</div>
			</form>
		</div>

    </div>
    
    <%- include("../partials/footer.ejs")%>

</body>
</html>