<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        <main>
            <h1 id="titulo-productos">Todos los Productos</h1>

            <% for (product of products) { %>
            <div class="productos-container">
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail/<%= product.id %>">
                         <img  class="imgvend" src=/images/<%= product.image %> alt="vino1">
                         
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b><%= product.name %></b></p>
                         <p class="parrafocontent"><%= product.bodega %></p>
                         <p class="parrafocontent"><b><%= product.price %></b></p>
                        </a>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <!--
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/donaP.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre Producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/titoZ.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre Producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/luigiB.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/davidResCab.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/dvCatPir.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/rutiniCabFra.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/estecoMal.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/moras.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/gala.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/icon.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/trump.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/mariflor.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/felicien.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/crios.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail">
                         <img  class="imgvend" src="images/coquena.png" alt="vino1">
                         </a>
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b>Bodega</b></p>
                         <p class="parrafocontent">Nombre producto</p>
                         <p class="parrafocontent"><b>$750.00</b></p>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                 -->
            </div>
            <% } %>
        </main>
        <%- include("../partials/footer.ejs")%>
    </body>
</html>