<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>

    <div class="container">
		<div class="row">
			<div>
				<h2 class="container">Estás editando <%= productToEdit.name %></h2>
			</div>
		</div>
		<div class="container clase-create-form">
			<form action="/product-edit-form/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div>
					<div>
						<p><label for="name" class="estilo-form">Nombre del producto:</label></p>
						<input type="text" id="name" name="name" value="<%= productToEdit.name %>" placeholder="Ej: Luigi Bosca" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="price" class="estilo-form">Precio del producto:</label></p>
						<input type="text" id="price" name="price" value="<%= productToEdit.price %>" placeholder="Ej: 888" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="Bodega" class="estilo-form">Bodega</label></p>
						<input type="text" id="bodega" name="bodega" value="<%= productToEdit.bodega %>" placeholder="Ej: Luigi Bosca" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="category" class="estilo-form">Categoría:</label></p>
						<select name="category" id="category" class="estilo-form">
							<option id="estilo-form" value="">Elegí</option>
							<option id="estilo-form" value="Tinto" <%= productToEdit.category == 'Tinto' ? "selected" : "" %>>Tinto</option>
							<option id="estilo-form" value="Blanco" <%= productToEdit.category == 'Blanco' ? "selected" : "" %>>Blanco</option>
							<option id="estilo-form" value="Rosado" <%= productToEdit.category == 'Rosado' ? "selected" : "" %>>Rosado</option>
						</select>
					</div>
					<div>
                        <p><label for="file" class="estilo-form">Foto del Producto</label></p>
						<input type="file" name="image" id="image"> <br>
					</div>
					<div class="col-12">
						<p><label for="description" class="estilo-form">Descipción:</label></p>
						<textarea name="description" placeholder="<%= productToEdit.description %>" id="description" class="estilo-form"><%= productToEdit.description %></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="register">Guardar cambios</button>
					</div>
				</div>
			</form>
		</div>

    </div>
    
    <%- include("../partials/footer.ejs")%>

</body>
</html>