<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        <main>
            <h1 id="titulo-productos">Todos las Espirituosas</h1>

            
            <div class="productos-container">
                <% for (product of productsEspirituosas) { %>
                <div class="productdiv">
                    <div class="imgdiv">
                        <a href="/product-detail/<%= product.id %>">
                         <img  class="imgvend" src="/images/productos/<%= product.image %>" alt="vino1">
                         
                     </div>
                     <div class="contentdiv">
                         <p class="parrafocontent"><b><%= product.name %></b></p>
                         <p class="parrafocontent"><%= product.bodega %></p>
                         <p class="parrafocontent"><b>$ <%= product.price %> c/u</b></p>
                        </a>
                         <button class="vendidosButton">Agregar al carrito</button>
                     </div>
                 </div>
                 <% } %>
            </div>
            
        </main>
        <%- include("../partials/footer.ejs")%>
    </body>
</html>