<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>

    <div class="container">
		<div class="row">
			<div>
				<h2 class="container">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="container clase-create-form">
			<form action="/product-create-form" method="POST" enctype="multipart/form-data" id="product-form">
				<div class="error123123123123"></div>
				
				<div>
					<div class="form-control">
						<p><label for="name">Nombre del producto:</label></p>
						<input type="text" name="name" id="name" placeholder="Ej: Luigi Bosca" class="estilo-form">
						<i class="far fa-check-circle"></i>
                		<i class="fas fa-exclamation-circle"></i>
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.name ? errors.name.msg : '' %>
						</small>
					</div>
					<div>
						<p><label for="price" class="estilo-form">Precio del producto:</label></p>
						<input type="text" id="price" name="price" placeholder="Ej: 888" class="estilo-form"> <br>
						<small>
							<%= typeof errors === 'undefined' ? '' : errors.price ? errors.price.msg : '' %>
						</small>
					</div>
					<div class="form-control">
						<p><label for="description" class="estilo-form">Descripción:</label></p>
						<textarea name="description" id="description" class="estilo-form"></textarea>
						<i class="far fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.description ? errors.description.msg : '' %>
						</small>
					</div>
					<div>
						<p><label for="discount" class="estilo-form">Descuento:</label></p>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15%" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="varietal" class="estilo-form">Varietal:</label></p>
						<select name="varietal" id="varietal" class="estilo-form">
							<option value="" disabled>Elegí</option>
							<option value="Tinto">Tinto</option>
							<option value="Blanco">Blanco</option>
							<option value="Rosado">Rosado</option>
						</select>
					</div>
					<div>
						<p><label for="wine_cellar" class="estilo-form">Bodega:</label></p>
						<input type="text" id="wine_cellar" name="wine_cellar" placeholder="Ej: Luigi Bosca" class="estilo-form"> <br>
						<small >
							<%= typeof errors === 'undefined' ? '' : errors.wine_cellar ? errors.wine_cellar.msg : '' %>
						</small>
					</div>
					<div>
                        <p><label for="image" class="estilo-form">Foto del Producto</label></p>
						<input type="file" name="image" id="image">
						<br>
						<small class="smallError">
							<%= typeof errors === 'undefined' ? '' : errors.image ? errors.image.msg : '' %>
						</small>
					</div>
					
					<div class="col-12">
						<button type="submit" class="register">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

    </div>
    
    <%- include("../partials/footer.ejs")%>
	<script src="/js/scriptProducts.js"></script>
</body>
</html>