<!DOCTYPE html>
<html lang="en">
   
    <%- include("../partials/head.ejs")%>
    
<body>
    
    <%- include("../partials/header.ejs")%>
        
    <main>     
        <div class="container">
        
            <div class="titles">
                <h1>Inici치 sesi칩n</h1>
            </div>
                <form method="POST" action="/login" id="login-form">
                
                <div class="error123123123123"></div>

                <div class="form-control">
                    <p><label for="email"></label></p>
                    <input type="email" name="email" id="email" placeholder="E-mail" class="estilo-form">
                    <i class="far fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i><br>
                    <small class="smallError">
                        <%= typeof errors === 'undefined' ? '' : errors.email ? errors.email.msg : '' %>
                    </small>
                </div>
                <div class="form-control">

                    <p><label for="password"></label></p>
                    <input type="password" name="password" id="password" placeholder="Contrase침a" class="estilo-form">
                    <i class="far fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i><br>
                    <small class="smallError">
                        <%= typeof errors === 'undefined' ? '' : errors.password ? errors.password.msg : '' %>
                    </small>
                </div> 
        
             <div> 
                <input type="checkbox" name="recordarme"> Recordarme
            </div>
            <div> 
                <p><button type="submit" value="login" class="register">Ingres치</button></p>
            </div>
             </form>

        </div>  

    </main>

    <%- include("../partials/footer.ejs")%>
   <script src="/js/scriptLogin.js"></script> 
</body>
</html>