<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs")%>
    <body>

        <%- include("../partials/header.ejs")%>

        <h1 class="tituloProfile">Perfil de usuario</h1>

        <div id="userdiv">
            
            <div id="userimg">
                <img height="300px" width="auto" src="/images/users/<%= user.avatar %>" alt="">
            </div>
            <div id="datodiv">
                <p class="datopar"> <span class="propiedad">Nombre: <%= user.name %> </span> </p>
                <p class="datopar"> <span class="propiedad">Apellido: <%= user.last_name %></span> </p>
                <p class="datopar"> <span class="propiedad">E-mail: <%= user.email %></span></p>
            </div>
        </div>
        <%- include("../partials/footer.ejs")%>

    </body>
</html>